* {
    outline: 1px dashed blue;
}

/* Header Styling */
#bank-logo {
    width: 10%
}

#toggle-list {
    display: none;
}

#toggle-list.show {
    display: block;
}

/* Customer search section */
#dropdown-menu {
    display: none;
}

#dropdown-menu.show {
    display: block;
}